body {
  font-family: "Roboto", sans-serif; 
  color: #434455;
  background-color: #FFFFFF 
}

button {
cursor: pointer;
}

.logo {
    font-family: "Raleway", sans-serif;;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}



.logo-web {
    color: #2e2f42}

.items-nav {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.nav-list .items-nav:hover, .items-nav:active, .items-nav:focus {
    color: #404bbf;
}

.contacts {
font-style: normal;
}

.contacts-items {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}

.contacts .contacts-items:hover, .contacts-items:active, .contacts-items:focus {
    color: #404bbf;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: white;
}

.main-section {
   
background-color: #2e2f42;
}

.btn {
   font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: white;
background-color: #4d5ae5;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: #404bbf;
}

.advantages-items {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.text-title {
    font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.team-section {
    background-color: #F4F4FD
}

.title-our {
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}

.list-items {
    background-color: #FFFFFF;
}



.name {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.name-items {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

  

.portfolio {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}


.portfolio-items {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
    
background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-span {
    color: #f4f4fd;
}   
.text-footer {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

ul {
    list-style-type: none;
}




.visually-hidden {
  
 
  
  
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
 
  clip-path: inset(100%);
}